{% extends 'base.html' %}

{% block content %}
    <h2>Agregar Jugador</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
{% endblock %}
