{% extends 'base.html' %}

{% block content %}
    <h2>All Players List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
