{% extends 'base.html' %}

{% block content %}
    <h2>Eliminar Jugador - {{ player.name }}</h2>
    <p>¿Estás seguro de que deseas eliminar este jugador?</p>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
{% endblock %}
