{% extends 'base.html' %}

{% block content %}
    <div class="nflr-manager">
        <h2 class="nflr-title">NFLR MANAGER</h2>
        <p class="nflr-description">Click an option:</p>
        <ul class="nflr-options">
            <li><a href="{% url 'stadium_list' %}" class="nflr-link">Stadium LIst</a></li>
            <li><a href="{% url 'team_list' %}" class="nflr-link">Team List</a></li>
            <li><a href="{% url 'player_list' %}" class="nflr-link">Player List</a></li>
            <li><a href="{% url 'all_players_list' %}" class="nflr-link">Player Information List</a></li>
        </ul>
    </div>
{% endblock %}
