{% extends 'base.html' %}

{% block content %}
    <h2>Owner List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for owner in owners %}
                <tr>
                    <td>{{ owner }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
