{% extends 'base.html' %}

{% block content %}
    <h2>Team List</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Stadium</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.ownername }}</td>
                    <td>{{ team.stadium.name }}</td>
                    <td>
                        <a href="{% url 'update_team' team.id %}" class="btn btn-primary btn-sm">Update</a>
                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ team.id }}">Delete</button>
                        
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{ team.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Delete Team</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete team '{{ team.name }}'?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a href="{% url 'delete_team' team.id %}" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'add_team' %}" class="btn btn-success">Add Team</a>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
{% endblock %}
