{% extends 'base.html' %}

{% block content %}
    <h2>{{ team.name }} Players</h2>
    <ul>
        {% for player in players %}
            <li>{{ player.name }} - Number: {{ player.playernum }} - Position: {{ player.position }}</li>
        {% endfor %}
    </ul>
{% endblock %}
