{% extends 'base.html' %}

{% block content %}
    <h2>Update a Stadium{{ stadium.name }}</h2>
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Actualizar</button>
    </form>
{% endblock %}
