
.nflr-manager {
    text-align: center;
    margin-top: 50px;
}

.nflr-title {
    color: #0088CE; /* Azul característico de la NFL */
}

.nflr-description {
    font-style: italic;
    color: #333;
}

.nflr-options {
    list-style: none;
    padding: 0;
}

.nflr-options li {
    margin-bottom: 10px;
}

.nflr-link {
    text-decoration: none;
    color: #FFB612; /* Amarillo característico de la NFL */
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
    border: 2px solid #0088CE;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nflr-link:hover {
    background-color: #0088CE;
    color: #fff;
}
