
.navbar-custom{
    background-color: #dc3545;
}
.btn-custom, .btn-custom-alt {
    border: 2px solid white; 
    border-radius: 25px;
    color: white; 
    transition: all 0.3s ease;
}

.btn-custom:hover, .btn-custom-alt:hover {
    background-color: white;
    color: #dc3545;
    border-color: #b32607;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Fondo gris claro */
}

/* Estilos para el header */
.bg-image {
    background-image: url('header-background.jpg'); /* Reemplaza 'header-background.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 400px; /* Ajusta la altura según tus necesidades */
    color: white;
    padding-top: 100px; /* Espaciado desde la parte superior del header */
}

/* Estilos para los botones */
.btn-primary {
    background-color: #dc3545; /* Rojo One Piece */
    border-color: #dc3545;
}

.btn-primary:hover {
    background-color: #c82333; /* Rojo One Piece más oscuro al pasar el mouse */
    border-color: #bd2130;
}

/* Estilos para la tabla */
.table {
    background-color: white;
}

/* Estilos para el footer */
footer {
    background-color: #f8f9fa; /* Fondo gris claro */
    color: #343a40; /* Texto oscuro */
}

/* Estilos para los enlaces */
a {
    color: #007bff; /* Azul One Piece para los enlaces */
}

a:hover {
    color: #0056b3; /* Azul One Piece más oscuro al pasar el mouse sobre los enlaces */
}
